In [ ]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.27)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [ ]:
import sqlalchemy as db
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, Text, select, func, ForeignKey

In [ ]:
engine = create_engine('sqlite:///mydb.db', echo=True)
connection = engine.connect()
metadata = MetaData()

In [ ]:
cars = Table(
    'Car', metadata,
    Column('car_id', Integer, primary_key=True),
    Column('car_name', Text),
    Column('car_country', Text),
    Column('car_mileage', Integer),
    Column('car_price', Integer)
)

In [ ]:
customers = Table(
    'Customers', metadata,
    Column('customer_id', Integer, primary_key=True),
    Column('customer_name', Text),
    Column('customer_address', Text),
    Column('customer_phone', Text)
)

In [ ]:
orders = Table(
    'Orders', metadata,
    Column('order_id', Integer, primary_key=True),
    Column('car_id', Integer, ForeignKey('Car.car_id')),
    Column('customer_id', Integer, ForeignKey('Customers.customer_id')),
    Column('order_date', Text),
    Column('order_quantity', Integer)
)

In [ ]:
dealers = Table(
    'Dealers', metadata,
    Column('dealer_id', Integer, primary_key=True),
    Column('dealer_name', Text),
    Column('dealer_location', Text),
    Column('dealer_phone', Text)
)

In [ ]:
metadata.create_all(engine)

2024-03-04 14:51:21,452 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-03-04 14:51:21,457 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Car")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("Car")

2024-03-04 14:51:21,459 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-03-04 14:51:21,464 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Car")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("Car")

2024-03-04 14:51:21,471 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-03-04 14:51:21,474 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Customers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("Customers")

2024-03-04 14:51:21,476 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-03-04 14:51:21,479 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Customers")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("Customers")

2024-03-04 14:51:21,482 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-03-04 14:51:21,485 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Orders")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("Orders")

2024-03-04 14:51:21,487 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-03-04 14:51:21,490 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Orders")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("Orders")

2024-03-04 14:51:21,493 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-03-04 14:51:21,496 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Dealers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("Dealers")

2024-03-04 14:51:21,498 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-03-04 14:51:21,501 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Dealers")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("Dealers")

2024-03-04 14:51:21,503 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-03-04 14:51:21,507 INFO sqlalchemy.engine.Engine
CREATE TABLE "Car" (
	car_id INTEGER NOT NULL,
	car_name TEXT,
	car_country TEXT,
	car_mileage INTEGER,
	car_price INTEGER,
	PRIMARY KEY (car_id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "Car" (
	car_id INTEGER NOT NULL,
	car_name TEXT,
	car_country TEXT,
	car_mileage INTEGER,
	car_price INTEGER,
	PRIMARY KEY (car_id)
)

2024-03-04 14:51:21,510 INFO sqlalchemy.engine.Engine [no key 0.00243s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00243s] ()

2024-03-04 14:51:21,521 INFO sqlalchemy.engine.Engine
CREATE TABLE "Customers" (
	customer_id INTEGER NOT NULL,
	customer_name TEXT,
	customer_address TEXT,
	customer_phone TEXT,
	PRIMARY KEY (customer_id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "Customers" (
	customer_id INTEGER NOT NULL,
	customer_name TEXT,
	customer_address TEXT,
	customer_phone TEXT,
	PRIMARY KEY (customer_id)
)

2024-03-04 14:51:21,524 INFO sqlalchemy.engine.Engine [no key 0.00285s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00285s] ()

2024-03-04 14:51:21,535 INFO sqlalchemy.engine.Engine
CREATE TABLE "Dealers" (
	dealer_id INTEGER NOT NULL,
	dealer_name TEXT,
	dealer_location TEXT,
	dealer_phone TEXT,
	PRIMARY KEY (dealer_id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "Dealers" (
	dealer_id INTEGER NOT NULL,
	dealer_name TEXT,
	dealer_location TEXT,
	dealer_phone TEXT,
	PRIMARY KEY (dealer_id)
)

2024-03-04 14:51:21,538 INFO sqlalchemy.engine.Engine [no key 0.00240s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00240s] ()

2024-03-04 14:51:21,549 INFO sqlalchemy.engine.Engine
CREATE TABLE "Orders" (
	order_id INTEGER NOT NULL,
	car_id INTEGER,
	customer_id INTEGER,
	order_date TEXT,
	order_quantity INTEGER,
	PRIMARY KEY (order_id),
	FOREIGN KEY(car_id) REFERENCES "Car" (car_id),
	FOREIGN KEY(customer_id) REFERENCES "Customers" (customer_id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "Orders" (
	order_id INTEGER NOT NULL,
	car_id INTEGER,
	customer_id INTEGER,
	order_date TEXT,
	order_quantity INTEGER,
	PRIMARY KEY (order_id),
	FOREIGN KEY(car_id) REFERENCES "Car" (car_id),
	FOREIGN KEY(customer_id) REFERENCES "Customers" (customer_id)
)

2024-03-04 14:51:21,552 INFO sqlalchemy.engine.Engine [no key 0.00242s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00242s] ()

2024-03-04 14:51:21,562 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
insertion_cars = cars.insert().values([
    {'car_name': 'Audi', 'car_country': 'Germany', 'car_mileage': 10000, 'car_price': 35500},
    {'car_name': 'BMW', 'car_country': 'Germany', 'car_mileage': 15600, 'car_price': 24500},
    {'car_name': 'Mercedes', 'car_country': 'Germany', 'car_mileage': 4000, 'car_price': 55500}
])

connection.execute(insertion_cars)

2024-03-04 14:51:26,372 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-03-04 14:51:26,375 INFO sqlalchemy.engine.Engine INSERT INTO "Car" (car_name, car_country, car_mileage, car_price) VALUES (?, ?, ?, ?), (?, ?, ?, ?), (?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "Car" (car_name, car_country, car_mileage, car_price) VALUES (?, ?, ?, ?), (?, ?, ?, ?), (?, ?, ?, ?)

2024-03-04 14:51:26,378 INFO sqlalchemy.engine.Engine [no key 0.00670s] ('Audi', 'Germany', 10000, 35500, 'BMW', 'Germany', 15600, 24500, 'Mercedes', 'Germany', 4000, 55500)

INFO:sqlalchemy.engine.Engine:[no key 0.00670s] ('Audi', 'Germany', 10000, 35500, 'BMW', 'Germany', 15600, 24500, 'Mercedes', 'Germany', 4000, 55500)

In [ ]:
insertion_customers = customers.insert().values([
    {'customer_name': 'John Doe', 'customer_address': '123 Main St', 'customer_phone': '555-1234'},
    {'customer_name': 'Jane Smith', 'customer_address': '456 Elm St', 'customer_phone': '555-5678'}
])
connection.execute(insertion_customers)

2024-03-04 14:51:31,031 INFO sqlalchemy.engine.Engine INSERT INTO "Customers" (customer_name, customer_address, customer_phone) VALUES (?, ?, ?), (?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "Customers" (customer_name, customer_address, customer_phone) VALUES (?, ?, ?), (?, ?, ?)

2024-03-04 14:51:31,034 INFO sqlalchemy.engine.Engine [no key 0.00312s] ('John Doe', '123 Main St', '555-1234', 'Jane Smith', '456 Elm St', '555-5678')

INFO:sqlalchemy.engine.Engine:[no key 0.00312s] ('John Doe', '123 Main St', '555-1234', 'Jane Smith', '456 Elm St', '555-5678')

In [ ]:
insertion_orders = orders.insert().values([
    {'car_id': 1, 'customer_id': 1, 'order_date': '2024-03-04', 'order_quantity': 2},
    {'car_id': 2, 'customer_id': 2, 'order_date': '2024-03-04', 'order_quantity': 1}
])
connection.execute(insertion_orders)

2024-03-04 14:51:33,804 INFO sqlalchemy.engine.Engine INSERT INTO "Orders" (car_id, customer_id, order_date, order_quantity) VALUES (?, ?, ?, ?), (?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "Orders" (car_id, customer_id, order_date, order_quantity) VALUES (?, ?, ?, ?), (?, ?, ?, ?)

2024-03-04 14:51:33,807 INFO sqlalchemy.engine.Engine [no key 0.00270s] (1, 1, '2024-03-04', 2, 2, 2, '2024-03-04', 1)

INFO:sqlalchemy.engine.Engine:[no key 0.00270s] (1, 1, '2024-03-04', 2, 2, 2, '2024-03-04', 1)

In [ ]:
insertion_dealers = dealers.insert().values([
    {'dealer_name': 'ABC Motors', 'dealer_location': '789 Oak St', 'dealer_phone': '555-7890'},
    {'dealer_name': 'XYZ Cars', 'dealer_location': '101 Pine St', 'dealer_phone': '555-1010'}
])
connection.execute(insertion_dealers)

2024-03-04 14:51:36,953 INFO sqlalchemy.engine.Engine INSERT INTO "Dealers" (dealer_name, dealer_location, dealer_phone) VALUES (?, ?, ?), (?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "Dealers" (dealer_name, dealer_location, dealer_phone) VALUES (?, ?, ?), (?, ?, ?)

2024-03-04 14:51:36,956 INFO sqlalchemy.engine.Engine [no key 0.00293s] ('ABC Motors', '789 Oak St', '555-7890', 'XYZ Cars', '101 Pine St', '555-1010')

INFO:sqlalchemy.engine.Engine:[no key 0.00293s] ('ABC Motors', '789 Oak St', '555-7890', 'XYZ Cars', '101 Pine St', '555-1010')

In [ ]:
select_all_query = db.select(orders)
select_result = connection.execute(select_all_query)
select_result.fetchall()

2024-03-04 14:51:39,884 INFO sqlalchemy.engine.Engine SELECT "Orders".order_id, "Orders".car_id, "Orders".customer_id, "Orders".order_date, "Orders".order_quantity
FROM "Orders"

INFO:sqlalchemy.engine.Engine:SELECT "Orders".order_id, "Orders".car_id, "Orders".customer_id, "Orders".order_date, "Orders".order_quantity
FROM "Orders"

2024-03-04 14:51:39,887 INFO sqlalchemy.engine.Engine [generated in 0.00293s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00293s] ()

[(1, 1, 1, '2024-03-04', 2), (2, 2, 2, '2024-03-04', 1)]